//////////////////////////////////////////////////
// Colours
//////////////////////////////////////////////////
$white: #fff;
$black: rgb(15, 15, 20);
$dark-grey: rgb(30, 30, 35);
$light-grey: rgb(220, 220, 220);


//////////////////////////////////////////////////
// Widths
//////////////////////////////////////////////////
$size-a: 62.5%;
$size-b: 80%;
