*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  margin: 0;
  font: 22px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section
main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: normal; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  /* transition: .1s; */ }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle; }

body {
  background: #0f0f14;
  overflow: hidden; }

section {
  height: 100vh; }

#sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

#info,
#project,
#archive {
  position: absolute;
  padding: 3rem 8rem 3rem 7rem; }

#archive {
  background: gainsboro;
  z-index: 2; }

#project {
  width: 80%;
  background: #fff;
  z-index: 3; }

#info {
  background: #1e1e23;
  color: #fff;
  z-index: 4; }

.info-open,
.info-closed,
.archive-open,
.archive-closed {
  width: 62.5%; }

.info-open {
  right: 0; }

.info-closed {
  right: calc(-62.5% + 5rem); }

.archive-open,
.project-open {
  right: 0; }

.archive-closed {
  right: calc(-62.5% + 10rem); }

.project-closed {
  right: -80%; }

.archive-project-open {
  width: calc(80% + 5rem); }
