*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  margin: 0;
  font: 20px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section
main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: normal; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  /* transition: .1s; */ }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle; }

@font-face {
  font-family: 'GT America';
  src: url("../font/GTAmerica-Regular.eot");
  src: url("../font/GTAmerica-Regular.eot?#iefix") format("embedded-opentype"), url("../font/GTAmerica-Regular.woff") format("woff"), url("../font/GTAmerica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GT America Expanded';
  src: url("../font/GTAmerica-ExpandedBold.eot");
  src: url("../font/GTAmerica-ExpandedBold.eot?#iefix") format("embedded-opentype"), url("../font/GTAmerica-ExpandedBold.woff") format("woff"), url("../font/GTAmerica-ExpandedBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GT America Mono';
  src: url("../font/GTAmericaMono-Regular.eot");
  src: url("../font/GTAmericaMono-Regular.eot?#iefix") format("embedded-opentype"), url("../font/GTAmericaMono-Regular.woff") format("woff"), url("../font/GTAmericaMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background: #0f0f14;
  font: 2rem/2.6rem "GT America", sans-serif;
  overflow: hidden; }

h1 {
  font: 2rem/2.6rem "GT America", sans-serif;
  text-indent: 9rem;
  margin-top: -0.5rem; }

h2 {
  font: 3rem/3.6rem "GT America", sans-serif;
  margin-bottom: 6rem; }

h3 {
  font: 2rem/2.6rem "GT America", sans-serif;
  text-indent: 9rem;
  margin-top: -0.5rem; }

p {
  font: 2rem/2.6rem "GT America", sans-serif;
  margin-top: -0.5rem;
  margin-bottom: 3rem; }

h4 {
  font: 1.5rem/2rem "GT America", sans-serif; }

#sliders {
  float: right; }

#info,
#project,
#archive {
  position: fixed;
  height: 100vh;
  overflow-y: auto; }

#archive {
  background: gainsboro;
  z-index: 2; }

#project {
  width: 80%;
  background: #fff;
  z-index: 3; }

#info {
  background: #1e1e23;
  color: #fff;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.info-open,
.info-closed,
.archive-open,
.archive-closed {
  width: 62.5%; }

.info-open {
  right: 0; }

.info-closed {
  right: calc(-62.5% + 5rem); }

.archive-open,
.project-open {
  right: 0; }

.archive-closed {
  right: calc(-62.5% + 10rem); }

.project-closed {
  right: -80%; }

.archive-project-open {
  width: calc(80% + 5rem);
  right: 0; }

.strip {
  width: 5rem;
  height: 100%;
  background: url("../img/favi.ico") 1.25rem 3rem no-repeat;
  background-size: 2.5rem; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding: 3rem 3rem 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.intro {
  padding-right: calc(33% + 2rem); }

.text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font: 1.5rem/2rem "GT America", sans-serif; }
