#sliders {
 float: right;
}

#info,
#project,
#archive {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  border-left: 1px solid $black;
  transition-property: right;
  transition: 0.3s ease;

  display: flex;
  flex-wrap: wrap;
}


#archive {
  background: $white;
  z-index: 2;
  top: 0;
  right: calc(-#{$size-a} + 10rem);
  overflow: visible;
}

#project {
  width: $size-b;
  background: $white;
  z-index: 3;
  top: 0;
  right: calc(-#{$size-b} + 0rem);
}

#info {
  background: $white;
  color: $black;
  z-index: 4;
  top: 0;
  right: calc(-#{$size-a} + 5rem);
}

#info,
#archive
{
	width: $size-a;
}

.info-open,
.archive-open,
.project-open {
	right: 0 !important;
}

.project-closed {
	right: -$size-b;
}

.archive-open-more {
  right: 5rem !important;
}

.archive-open-most {
  right: calc(#{$size-b} - #{$size-a} + 5rem)!important;
}

.archive-project-open {
	width: calc(#{$size-b} + 5rem);
  right: 0 !important;
}

.strip {
  width: $strip;
  height: 100%;
  cursor: w-resize;
  position: absolute;
  padding: 1rem 0 0 0rem;
}

.sideways {
  height: 2rem;
  width: 20rem;
  overflow: visible;
  transform: rotate(90deg) translateY(7rem) translateX(10rem);
  font-family: $gt-mono;
  font-size: 1.5rem;
}

.sideways span {
  text-transform: uppercase;
  //line-height: 2.5rem
}

.sideways span:after {
  content: "\2193";
  padding-left: 0.5rem;
}

.cursor {
  cursor: e-resize;
}

.project-loadspot {
  transition: all .5s ease;
  opacity: 0;
}

.opacity {
  opacity: 1;
}

.scroll {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
