#sliders {
  float:right;
}

#info,
#project,
#archive {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

#archive {
  background: $light-grey;
  z-index: 2;
}

#project {
  width: $size-b;
  background: $white;
  z-index: 3;
}

#info {
  background: $dark-grey;
  color: $white;
  z-index: 4;
  display: flex;
}

.info-open,
.info-closed,
.archive-open,
.archive-closed
{
	width: $size-a;
}

.info-open {
	right: 0;
}

.info-closed {
	right: calc(-#{$size-a} + 5rem);
}

.archive-open,
.project-open {
	right: 0;
}

.archive-closed {
	right: calc(-#{$size-a} + 10rem);
}

.project-closed {
	right: -$size-b;
}

.archive-project-open {
	width: calc(#{$size-b} + 5rem);
  right: 0;
}

.strip {
  width: $strip;
  height: 100%;
  background: url("../img/favi.ico") 1.25rem $space-1 no-repeat;
  background-size: 2.5rem;
}

.main {
  flex: 1;
  height: 100%;
  padding: $space-1 $space-1 $space-1 $gutter;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.intro{
  padding-right: calc(33% + #{$gutter});
}

.text {
  flex: 2;
  margin-right: $gutter;
  align-self: flex-start;
}

.contact {
  flex: 1;
  font: $details;
}

aside ul {
}
