

#image-index {
  transition: all 0.3s ease;
  background: $white;
}

#index-hero {
  width: 100vw;
  padding: $space-2 0 $space-4 0;

  will-change: opacity;
}

#index-hero section {
  min-height: calc(50vw - #{$space-4});
  margin: $space-4 0 0 $space-1;
  width: calc(100vw - 17rem);
}

.whiteform {
  background-image: url(../img/FORM.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.blackform {
  background-image: url(../img/FORM_black.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.main-carousel {
  padding: $gutter 0 $gutter 0;
  // /background: $light-grey;
  border-top: 1px solid $black;
  // /border-bottom: 1px solid $black;
  // background-size: 6px 6px !important;
  // background-image:
  // linear-gradient(
  // -45deg,
  // rgba(0, 0, 0, 0) 46%,
  // $black 49%,
  // $black 51%,
  // rgba(0, 0, 0, 0) 55%
  // );
}

.main-carousel img {
  width: 65vw;
  margin-right: $space-2;
  object-fit: cover;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  width: calc(100vw - 17rem);
  margin: 1rem 0 0 $space-1;
  z-index: 1;
  color: $black;
}

.carousel-link {
  float: right;
}

li.carousel-link:after {
  content:" ←";
  font-family: $gt-mono;
}

li.caption:before {
  font-family: $gt-mono;
}

.carousel-status {
  font-family: $gt-mono;
}

#index-projects {
  height: auto;
  width: calc(100vw - 10rem);
  padding: $space-2 4rem 0 $space-1;
  border-top: 1px solid $black;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-thumb {
  flex-basis: calc(33.333% - 1.333rem);
  margin-bottom: $space-2;
  height: 100%;
  cursor: cell;
  transition: all 0.1s ease;
  z-index: 0;
}

// .project-thumb:hover {
//   transform: translate3d(-1.0rem, -1.0rem, 0);
// }
//
// .project-thumb:before {
// 	position: absolute;
// 	z-index: -1;
//   top: 0rem;
//   left: 0rem;
// 	width: 100%;
// 	height: 100%;
//   // border: 1px solid $black;
//   // background-size: 6px 6px !important;
//   // background-image:
//   // linear-gradient(
//   // -45deg,
//   // rgba(0, 0, 0, 0) 46%,
//   // $black 49%,
//   // $black 51%,
//   // rgba(0, 0, 0, 0) 55%
//   // );
// 	content: '';
//   transition: all 0.1s ease;
// }

.project-thumb:hover:before {
	transform: translate3d(1.0rem, 1.0rem, 0);
}

.project-thumb ul:after {
  content: "View project  →";
  opacity: 0;
  transition: all 0.1s ease;
  transform: translateY($caption);
}

/*
.project-thumb ul:hover:after  {
  opacity: 1;
  transform: translateY(0rem);
}
*/

.project-thumb:hover > ul:after{
  opacity: 1;
  transform: translateY(0rem);
}

.project-thumb ul,
.related-project ul{
  padding: $caption 0 $gutter 0;
  font: $details;
  text-transform: uppercase;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-thumb ul li,
.related-project ul li {
  flex-basis: 50%;
}

.project-thumb ul li:nth-child(3),
.related-project ul li:nth-child(3) {
  margin-left: 50%;
}

.project-thumb ul {
    background: $white;
}

.closer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.blur {
// -webkit-filter: blur(100px);
  opacity: 0.1;
}

.show {
// -webkit-filter: blur(100px);
  display: block;

}

.overflow {
  overflow: hidden !important;
  //padding-right: 1.7rem;
  background: $black;
}


#info-button,
#archive-button,
#project-button {
  display: none;
}
